**/__pycache__/**
dist
*.pkl
!tests/*.pkl
*.log
*.bkp
.DS_Store
.vscode
build
octave-workspace
readme.html
venv
img
tests
pyspoc/statistics/wip
README.md.bak

.env
*.egg-info/
*.ipynb_checkpoints/
.envrc

notes_todos.md